body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    height: 75px;
}

.footer {
    height: 75px;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    margin-right: 16px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

.container {
    flex: 1;
    border: 3px double red;
}
